<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rubenromao\ErpApiRequests\Api\Amqp\FullOrderInterface" type="Rubenromao\ErpApiRequests\Model\Amqp\FullOrder" />
</config>
